/* Schakel dark mode uit door de lichte modus te forceren */
@media (prefers-color-scheme: dark) {
  body {
    color-scheme: light; /* Forceert lichte modus */
  }
}

/* Voeg algemene reset regels toe */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Voorkomt horizontaal scrollen */
}

/* Basis styling voor root element */
#root {
  width: 100%;
  min-height: 100vh;
}

.navigation-arrows {
  margin-bottom: 20px !important;
  padding-bottom: 20px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blue-line-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: blue;
  transform: translateX(100%); /* Begin buiten de viewport aan de rechterkant */
  transition: transform 1s ease-in-out;
}

.blue-line-home.visible {
  transform: translateX(0); /* Schuift naar binnen */
}

.header {
  margin-top: 0px;
  padding-top: 0px;
}
